---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #0f090d;
$foreground-color: #b493b4;
$text-color: $foreground-color;
$zero: #221d24;
$one: #a3409d;
$two: #52634e;
$three: #6d4b36;
$four: #3e6b90;
$five: #804394;
$six: #169989;
$seven: #707880;
$eight: #373b41;
$nine: #b52ead;
$ten: #314c15;
$eleven: #422400;
$twelve: #81a2be;
$thirteen: #b294bb;
$fourteen: #8abeb7;
$fifteen: #c5c8c6;

$link-color: $one;

@import url("https://fonts.googleapis.com/css?family=Raleway:900");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import "furtive/all";
@import "fa/font-awesome";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "layout",
        "syntax-highlighting",
        "index"
;
