<footer class="footer">
  <div class="p0">
    <div class="grd-row">
      <div class="grd-row-col-6">
        <ul class="contact-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              Mail
            </a>
          </li>
          <li>
            <a href="https://github.com/{{ site.social_username }}">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
              GitHub
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/{{ site.social_username }}">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
