/**
 * Basic styling
 */
body {
    color: $text-color;
    background-color: $background-color;
    font-family: 'VT323'
    /* background-image: url('../img/clean-gray-paper.png'); */
}

h1 {
    font-size: 1rem;
    color: $four;
}
