/**
 * Basic styling
 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body {
    color: $text-color;
    background-color: $background-color;
    font-family: 'VT323'
    /* background-image: url('../img/clean-gray-paper.png'); */
}

h1 {
    font-size: 1rem;
    color: $four;
}
h2 {
    font-size: 1rem;
    color: $two;
}
h3 {
    font-size: 1rem;
    color: $three;
}

.color-fg {
    color: $foreground-color;
}

.color-1 {
    color: $one;
}
.color-2 {
    color: $two;
}
.color-3 {
    color: $three;
}
.color-12 {
    color: $twelve;
}
