// Styles for index page
.index-base {
    dl {
        -webkit-columns: 20px 3;
        -moz-columns: 20px 3;
        columns: 20px 3;
    }
    dt {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 1.6rem;
        a {
            text-decoration: none;
        }
    }
    dd {
        margin-left: .5rem;
    }
    
}
