// Styles for index page
section div .root {
    dl {
        -webkit-columns: 20px 3;
        -moz-columns: 20px 3;
        columns: 20px 3;
    }
    dd {
        margin-left: .5rem;
        color: $six;
    }
    
}
section div .dev {
    dl dt span {
        color: $twelve
    }
}
section div .sys h4 {
    float: left;
}
.expdate {
    display: block;
    text-align: right;
    float: right;
    color: $five;
}

/* post styles */
article.post time.expdate {
    margin: -2.6rem 0 0 0;
}
article h1 img {
    align: center;
}

section div .des {
    img {
        width: 48%;
    }
}

ul.post-list {
    display: flex;
    flex-flow: row wrap;
}
ul.post-list li {
        float: left;
        display: inline-block;
        flex: 48%;
        vertical-align: top;
        margin-right: 2%;
        border: 1px dashed $nine;
        padding: 1rem;
}

#sl-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    z-index: 9999;
}
#sl-mover {
    position: absolute;
    top: 50%;
    right: -400px;
    z-index: 10000;
}
