// Styles for index page
section div .root {
    dl {
        -webkit-columns: 20px 3;
        -moz-columns: 20px 3;
        columns: 20px 3;
    }
    dd {
        margin-left: .5rem;
        color: $six;
    }
    
}
section div .dev {
    dl dt span {
        color: $twelve
    }
}
section div .sys h4 {
    float: left;
}
.expdate {
    display: block;
    text-align: right;
    float: right;
    color: $five;
}