// Header style
header {
    background-color: $fifteen;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
}
header  h1 {
    color: $eight;
    font-size: .8rem;
    margin: 0;
}
div .main {
    margin-top: 1rem;
}

#bg-img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    opacity: 0.33;
    filter: alpha(opacity=20);
}
#bg-img h1 {
    color: $one;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
#bg-img h2 {
    color: $one;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 1.8rem;
    padding: 0;
    margin: -.7em 0 0 0;
}

#bg-img .flip {
    @include horizontal-flip();
    color: $eight;
    display: inline-block;
    padding: 0;
    margin: 0;
}

// Main Style
.prompt {
    float: left;
    padding-right: .5rem;
}
.prompt-space {
    margin-bottom: .5rem;
}
input.prompt-input {
    float: left;
    width: 60%;
    height: 1rem;
    margin-top: .4rem;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 1rem;
}

#content {
    display: none;
}
#typein {
    padding-bottom: 6rem;
}
#typein ul li {
    color: $six;
}

// Footer Style
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $background-color;
}
.footer ul.contact-list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 0 3;
    list-style: none;
}
.footer .contact-list a {
    text-decoration: none;
}
