<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="body">
      <div class="p1">
        <div class="main grd-row {{ page.title | slugify }}">
          <div class="grd-row-col-6">
            <div id="content">
              <div class="prompt-space">
                {% include prompt.html %}
                <div style="color-fg">{{ page.command | default: 'cat README.md' }}</div>
              </div>
              
              {{ content }}
              <div class="current-prompt">
                {% include prompt.html %}
                <input class="prompt-input" type="text" name="prompt" />
              </div>
            </div>
            <div id="typein">
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}

  </body>
  <script type="text/javascript">
    function promptHandler() {
      $('.prompt-input').last().on('keypress', function (event) {
        if(event.which === 13) {
          $(this).attr("disabled", "disabled");
          var content = $(this).parent().parent();
          content.append('<br /><p>You entered a command</p>');
          var clone = $(this).parent().clone(true);
          var cloneInput = clone.find('.prompt-input');
          cloneInput.removeAttr('disabled');
          cloneInput.val('');
          clone.appendTo(content);
          cloneInput.focus();
        }
      })
      .focus();
    }
    function fadeIn() {
      var i = 0;
      var isTag, text;
      var str = $('#content').html();
      (function type() {
        i = i + 15;
        text = str.slice(0, i);
        $('#typein').html(text);
        if (text === str) {
          $('#content').remove();
          promptHandler();
          return;
        }
        setTimeout(type, 10);
      }());
    }
    fadeIn();
  </script>
</html>
