<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="body">
      <div class="p1">
        <div class="main grd-row {{ page.class | slugify }}">
          <div class="grd-row-col-6">
            <div id="content">
              <div class="prompt-space">
                {% include prompt.html %}
                <div style="color-fg">{{ page.command | default: 'cat README.md' }}</div>
              </div>
              
              {{ content }}
              <div class="current-prompt">
                {% include prompt.html %}
                <input class="prompt-input" type="text" name="prompt" />
              </div>
            </div>
            <div id="typein">
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}

  </body>
  <script type="text/javascript" src="/js/index.js">
  </script>
</html>
